In [26]:
import os

import numpy as np
import scipy as sp
from scipy import misc, stats
import pandas as pd
from PIL import Image
import matplotlib.pyplot as plt
import plotly.plotly as py
import seaborn as sns
from pandas import DataFrame, Series
from pymatbridge import Matlab

%matplotlib inline

/home/sasha253c/myprog/kpi/progonov/progonov_labs/.venv/lib/python3.5/site-packages/IPython/nbformat.py:13: ShimWarning:

The `IPython.nbformat` package has been deprecated since IPython 4.0. You should import from nbformat instead.

In [12]:
MAIN_TAG = '2007'
DIRNAME_TAGS = '/home/sasha253c/myprog/kpi/progonov/progonov_labs/data/tags'
DIRNAME_IMAGES = '/home/sasha253c/myprog/kpi/progonov/progonov_labs/data/images'
N = 1000
COLOR = {'red': 0,
         'green': 1,
         'blue': 2}

In [6]:
data = DataFrame()

In [7]:
with open('../data/Dataset_tune.txt') as f:
    image_names = [int(name) for name in f.readlines()]

In [8]:
len(image_names)

5000

In [9]:
s = Series()
for name in image_names[:N]:
    with open(os.path.join(DIRNAME_TAGS, 'tags%d.txt' % (name,))) as file:
        set_tags = set(tag.strip() for tag in file.readlines())
        #print('tags%d.txt' % (name,), '  ',set_tags)
        s.set_value(name, int(MAIN_TAG not in set_tags))
    
data = DataFrame(s)

/home/sasha253c/myprog/kpi/progonov/progonov_labs/.venv/lib/python3.5/site-packages/ipykernel_launcher.py:6: FutureWarning: set_value is deprecated and will be removed in a future release. Please use .at[] or .iat[] accessors instead

In [10]:
s.head()

16018    1
2832     1
10328    1
16071    1
22284    0
dtype: int64

In [11]:
data.head()

       0
16018  1
2832   1
10328  1
16071  1
22284  0

In [21]:
data = DataFrame()
num = 0
for image_name in image_names[:1000]:
    image = np.array(Image.open(os.path.join(DIRNAME_IMAGES, 'im%d.jpg' % (image_name))))
    a = image[:, :, num].ravel()
    d = {'name': image_name,
         'min': np.min(a),
             'max': np.max(a),
             'mean': np.mean(a),
             'var': np.var(a),
             'median': np.median(a),
             'interquartile': sp.stats.iqr(a),
             'skewness': sp.stats.skew(a),
             'kurtosis': sp.stats.kurtosis(a),
        'target': s[image_name]}
    data = pd.concat([data, DataFrame(d, index=[0,])], ignore_index=True)

In [22]:
s[22284]

0

In [23]:
image

array([[[255, 255, 255],
        [255, 255, 255],
        [255, 255, 255],
        ...,
        [255, 255, 255],
        [255, 255, 255],
        [255, 255, 255]],

       [[255, 255, 255],
        [255, 255, 255],
        [255, 255, 255],
        ...,
        [255, 255, 255],
        [255, 255, 255],
        [255, 255, 255]],

       [[255, 255, 255],
        [255, 255, 255],
        [255, 255, 255],
        ...,
        [255, 255, 255],
        [255, 255, 255],
        [255, 255, 255]],

       ...,
       [[255, 255, 255],
        [254, 254, 254],
        [254, 254, 254],
        ...,
        [252, 250, 251],
        [251, 249, 250],
        [247, 245, 246]],

       [[255, 255, 255],
        [255, 255, 255],
        [255, 255, 255],
        ...,
        [252, 250, 251],
        [248, 246, 247],
        [244, 240, 241]],

       [[255, 255, 255],
        [255, 255, 255],
        [255, 255, 255],
        ...,
        [254, 250, 251],
        [251, 247, 248],
        [248, 244, 245]]], dtype=uint8)

In [25]:
data.head()

,interquartile,kurtosis,max,mean,median,min,name,skewness,target,var
0,41.0,0.399050,255,41.468431,36.0,0,16018,0.789478,1,897.363995
1,146.0,-1.224572,255,153.781394,156.0,0,2832,-0.219189,1,6214.021990
2,104.0,-0.735921,234,121.656235,149.0,0,10328,-0.930703,1,4209.820332
3,113.0,-0.882227,255,155.734336,172.0,0,16071,-0.484947,1,5471.229412
4,146.0,-1.263383,255,132.356751,156.0,0,22284,-0.408834,0,6317.783450

In [27]:
mlab = Matlab()

In [ ]:
res = mlab.run_func('path/to/jk.m', {'arg1': 3, 'arg2': 5})